.form__product {
  font-family: "Roboto", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.349);
  max-width: 500px;
  border: 1px solid transparent;
  border-radius: 4%;
  background-color: #FEFFFF;
  padding: 15px;
}

.fildset__form__product {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  border: none;
}

.legend__form__product {
  text-align: left;
  margin: 18px 0 18px 8px;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.container__form__products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  
}

.input__form__product,
.select__item {
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

input:focus,
.select__item:focus {
  outline: 2px solid #177cff;
  outline-offset: 2px;
  
}

.container__inputs__menores {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.input__menor {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.lable__form__product {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.89);
  padding-left: 10px;
}

.box__buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    height: 40px;
}

.btn__cancelar {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
}

.btn__cancelar:hover {
  cursor: pointer;
  background-color: rgba(215, 230, 230, 0.753);
}

.btn__adicionar {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  background-color: #177cff;
  color: #ffffff;
}

.btn__adicionar:hover {
  cursor: pointer;
}
