.header__global {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding: 10px;
    font-size: 24px;
    gap: 1rem;
    background-color: #FFFFFF;
    transition: margin-left 1s cubic-bezier(0.4, 0, 0.2, 1),
        width 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__global.empurrado {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -275px;
    width: 260px;
    height: 100vh;
    background-color: #FFFFFF;
    border-right: 1px solid #e2e8f0;
    transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    padding: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.sidebar.aberto {
    left: 0;
}

.conteudo__pagina {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: margin-left 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.conteudo__pagina.empurrado {
    margin-left: 260px;
    width: calc(100% - 260px);
}


.menu__btn {
    border: none;
    background-color: transparent;
    padding: 7px;
    border-radius: 5px;
    color: black;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -275px;
    width: 260px;
    height: 100vh;
    background-color: #FFFFFF;
    border-right: 1px solid #e2e8f0;
    transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    padding: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.sidebar.aberto {
    left: 0;
}

.conteudo__pagina {
    min-height: calc(100vh - 60px);
    transition: margin-left 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.conteudo__pagina.empurrado {
    margin-left: 260px;
    width: calc(100% - 260px);
}