.container__global {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__global {
    height: 65px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    gap: 1rem;
    background-color: #FFFFFF;
    margin-left: 0;

    transition: margin-left 1s cubic-bezier(0.4, 0, 0.2, 1),
        width 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__global.empurrado {
    margin-left: 250px;
    width: calc(100% - 250px);
    
}

.menu__btn {
    border: none;
    background-color: transparent;
    padding: 7px;
    border-radius: 5px;


}

.menu__btn:hover {
    background-color: rgba(91, 94, 97, 0.05);
    cursor: pointer;
}

.title__header__global {
    text-transform: capitalize;
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.sidebar {
    position: fixed;
    
    top: 0px;
    left: -275px;
    width: 260px;
    height: 100vh;
    background-color: #FFFFFF;
    border-right: 1px solid #e2e8f0;
    transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
    z-index: 51;
    padding: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.sidebar.aberto {
    left: 0;
}

.header__nav__menu__global {
    display: flex;
    height: 65px;
    flex-direction: row;
    border-bottom: 1px solid rgba(44, 44, 44, 0.1);
    padding: 0 1rem;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.icon__header__nav__global {
    background-color: #177cff;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 5px;
    border-radius: 10px;

}

.container__title__header__nav__global {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.title__header__nav__global {
    font-size: 15px;
    margin: 0;
    color: rgba(0, 0, 0, 0.712);
}

.subtile__header__nav__global {
    font-size: 11px;
    margin: 0;
    color: rgba(0, 0, 0, 0.512);
}

.nav__menu__global {
    display: flex;
    flex-direction: column;
}

.lista__nav__menu__global {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 1rem;
}

.item__nav__menu__global {
    list-style-type: none;
    text-align: left;
    font-size: 13px;

}

.link__nav__menu__global {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.688);
    text-transform: capitalize;
    display: block;
    padding: 7px 0;
    border-radius: 10px;
}

.link__nav__menu__global:hover {
    background-color: rgba(0, 0, 0, 0.288);
}


.conteudo__pagina {
    width: 75%;
    margin: 70px auto;
    min-height: calc(100vh - 60px);
    transition: margin-left 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.conteudo__pagina.empurrado {
    margin-left: 260px;
    width: calc(100% - 260px);
}