
.container__table{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
table{
    width: 90%;
    border-collapse: separate;
    display: table;
    border: 1px solid rgba(0, 0, 0, 0.138);
    border-radius: 12px;
    border-spacing: 0 10px;
}

thead tr{
    background-color: transparent;
}

th{
    text-align: left;
    padding: 12px 10px;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 14px;
}

tbody tr{
    background-color: #ffffff;
    
}

tbody tr:hover{
    background-color: #6666660e;
    
}

tbody tr td {
    padding: 15px 12px;
    font-size: 14px;
    color: #333;
}

td{
      padding: 10px 0px;
    text-align: start;
}   

.Title__item{
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
}

.texto__table__generico{
    color: #000000;
    font-weight: 400;
}

.status {
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    font-size: 11px;
}

.status--alta {
    background: #0dbe0d;
    color: #e1f0e7;
}

.status--baixa {
    background: #ff9100;
    color:#e1f0e7;
}

.status--zero {
    background: #ff3737;
    color:#e1f0e7;
}

.data__atualização{
    color:#5a5a5ab2;
    font-weight: 500;
}

.acoes{
    display: flex;
    gap: 5px;
}

.btn-edit{
    border: none;
    border-radius: 5px;
    background-color: transparent;
     padding: 10px;

}
.btn-edit:hover{
    border: none;
    border-radius: 5px;
    background-color: #8d8b8b80;
    cursor: pointer;
}
.btn-delete{
   border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;

}

.btn-delete:hover{
    border: none;
    border-radius: 5px;
    background-color: #8d0b0b56;
    cursor: pointer;
    color: #bb2929b0;
}