.page-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.left{
    display: flex;
    align-items: center;
    gap: 16px;

}

h1{
    margin: 0;
    font-size: 24px;
}

span{
    color:#6b6b6b;
    font-size: 14px;

}

.header-btn{
    background-color: #177cff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
}