@media screen and (min-width:1280) {
    
.alinhando{
    width: 100%;
}

.page-header{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: auto;
}

.left{
    display: flex;
    align-items: center;
    gap: 16px;

}

h1{
    margin: 0;
    font-size: 35px;
}

.subtitle{
    color:#6b6b6b;
    font-size: 19px;

}

.Icone-Header{
    margin: 0 0 0 20px;
    background-color: #177cff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.header-btn{
    background-color: #177cff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
}

}