 
.alinhando{
    width: 100%;
}

.page-header{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: auto;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

}

.page__header__title{
    margin: 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.subtitle{
    color:#6b6b6b;
    font-size: 14px;

}

.icon__header{
    margin: 0 ;
    background-color: #177cffd8;
    font-size: 30px;
    color: #f0f0f0;
    padding:10px 12px ;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn{
    background-color: #177cffd8;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

