.container__table {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 40px auto 0px;
    border: 1px solid rgba(0, 0, 0, 0.138);
    border-radius: 12px;
    overflow: hidden;       
}

.table__products {
    width: 100%;
    border-collapse: separate;
    display: table;
    border: none;
    border-radius: 12px;
    border-spacing: 0;
    background-color: #F2F4F6;
}

.theader__row{
 background-color: #FFFFFF;
}
.theader__row tr:hover {

}

.th__theader {

    padding: 0 10px;
    text-align: center;
    padding: 12px 10px;
    color: rgb(90, 101, 116);
    font-weight: 600;
    font-size: .95rem;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
}

.row__body {
    background-color: #ffffff;
   
}

.row__body:hover {
    background-color: #fffefea2;
}

.row__body td {
    padding: 15px 12px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.row__body:last-child td {
    border-bottom: none;
}
td {
    padding: 10px 0px;
    text-align: start;
}

.Title__item {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
}

.texto__table__generico {
    color: #000000;
    font-weight: 400;
}

.status {
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: 600;
    display: inline-block;
    font-size: 11px;
}

.status--alta {
    background: #0dbe0d;
    color: #e1f0e7;
}

.status--baixa {
    background: #ff9100;
    color: #e1f0e7;
}

.status--zero {
    background: #ff3737;
    color: #e1f0e7;
}

.data__atualização {
    color: #5a5a5ab2;
    font-weight: 500;
}

.acoes {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btn-edit {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;

}

.btn-edit:hover {
    border: none;
    border-radius: 5px;
    background-color: #8d8b8b80;
    cursor: pointer;
}

.btn-delete {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;

}

.btn-delete:hover {
    border: none;
    border-radius: 5px;
    background-color: #8d0b0b56;
    cursor: pointer;
    color: #bb2929b0;
}

.quantidade__table__generico {
    text-align: center;
    color: #000000;
    font-weight: 400;
}