.container__modal{
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.conteudo__modal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;}

