main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 12px;
    padding: 0 2rem;
}

#dashboard {
    display: flex;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

#header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 15px;
}

#header_main h1 {
    font-size: 24px;
    font-weight: bold;
}

#header_main p {
    font-size: 0.8rem;
    color: rgb(0, 0, 0, 0.7);
}

#header_filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5;
}